<div class="jumbotron jumbotron-fluid">
<div class="container">
  <div class="p-2">
    <h3><%= link_to "Update calendar", getcalendar_path, class: 'btn btn-info'  %></h3>
  </div>
</div>

<% @events = current_user.events.order(:start) %>
<div class="container-fluid">
  <div class="scolumn">
    <table class="table table-hover">
      <tbody>
        <thead>
        <tr><th>Event</th><th>Start</th><th>End</th><th>Location</th><th>Select</te></thead>
        <% @events.each.with_index do |e, i| %>
          <% if e.name != "no name" %>
            <tr>
              <td><%= e.name %></td> 
              <td><%= e.start.to_formatted_s(:short) %> </td> 
              <td><%= e.end.to_formatted_s(:short) %> </td> 
              <td><%= e.location %></td>
              <!-- <td><button id="<%= i %>" class="btn btn-dark selector" value="<%= i %>"> Select </button> </td>   -->
              <td>
                <div class="btn-group btn-group-sm" role="group">
                  <button type="button" id='DRIVING' class="btn btn-secondary selector" value="<%= i %>"><i class="fa fa-car" aria-hidden="true"></i></button>
                  <button type="button" id='WALKING' class="btn btn-secondary selector" value="<%= i %>"><i class="fa fa-male" aria-hidden="true"></i></button>
                  <!-- <button type="button" id='BICYCLING' class="btn btn-secondary" value="<%= i %>"><i class="fa fa-bicycle" aria-hidden="true"></i></button> -->
                  <button type="button" id='TRANSIT' class="btn btn-secondary selector" value="<%= i %>"><i class="fa fa-subway" aria-hidden="true"></i></button>
                </div>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<div class="container" align="center">  <%= render 'maps' %>  </div>

</div>

